body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: teal;
}

h1{
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}


.form-group{
  position: absolute;
  top: 0;
  font-size: 30px;
  margin: 10px;
  padding: 0 10px;
  background-color: teal;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}

