

.form-group{
   display:block;
    margin-bottom: 25px;
    width 100%;
    border: 2px solid steelblue;
    
}

.col-md-2 {
    display:block;
    margin-bottom: 25px;
    width 100%;
    border: 2px solid steelblue;
    
}